@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@400;600;800&family=Kalam:wght@400;700&family=Lobster&family=Montserrat:wght@400;700&display=swap');

:root{
--primary-color:#f5e050;
--secondary-color:#d68c03;
}

*{
    font-family: 'Kalam', cursive;
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.heading {
    background-color: var(--primary-color);
    font-size: 30px;
    text-align: center;
    padding: 1.5rem;
}

/* operation area */
.operation-area{
    width: 70vw;
    margin: 0 auto;
    padding: 2rem;
}
#text-input{
    width: 100%;
    height: 20vh;
    font-size: 2rem;
}
#btn-translate{
    margin: 1rem 0 2rem;
    padding: .2rem .5rem;
    background-color: var(--primary-color);    
    font-size: 2rem
}
#output-message{
    font-size: 1.3rem;
}
#output{
    border: 1px solid black;
    margin: 1rem 0;
    padding: 1rem;
    /* width: 100%; */
    height: 20vh;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 1.4rem;

}
h3{
    padding: 2rem;
}
